.table-wrapper {
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  height:100vh;
}

.table-container {
  max-width: 700px;
}

.small-table {
  font-size: 0.85rem;
}

.small-table th,
.small-table td {
  padding: 6px 8px;
}

